/build/
/vendor/
/extra/
.DS_Store
/.php_cs.cache
/.php_cs
.*.swp
.*.swo
tags
/build/logs/
all_output.actual
all_output.expected
/composer.lock
/phpunit.xml
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/tests/fixtures/symlinktest/*
